<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Trang trò chuyện</title>
</head>
<body>
    <style>
        html.mdl-js{
            scrollbar-width: none;
        }
    </style>
        <div layout:fragment="content">
            
            <header class="bg-white p-4 w-full p-5 text-gray-700">
                <h1 th:class="'text-2xl font-semibold text-' + ${session.chatColor}" id="friendname" th:text="${username}"><span id="activeStatus"></span></h1>
            </header>
            <!-- Main Chat Area -->
            <div class="flex-1 w-full h-full">
                <!-- Chat Header -->
                <!-- Chat Messages -->
                <div th:class="'h-3/4 w-3/4 bg-gradient-to-bl from-fuchsia-200 to-indigo-400 absolute overflow-y-scroll p-4 pb-36 ' + ${chatType}" style="
                -ms-overflow-style: none;  
                scrollbar-width: none; "   id="mainChatArea"  th:if="${messages}">
                    <div id="conversationId" th:text="${conversationId}" class="invisible"></div>
                    <!-- Incoming Message -->  
                        <div th:each="m: ${messages}">
                                <div th:if="${m.sender_id} neq ${session.id}" class="flex mb-4 cursor-pointer">
                                    <div th:if="${m.message_type}">
                                    <div class="text-gray-400 text-sm mb-[10px]" th:text="${m.sender_name}"></div>
                                    <div class="flex mb-4 cursor-pointer">
                                            <div class="w-9 h-9 rounded-full flex items-center justify-center mr-2">
                                            <img src="https://placehold.co/200x/ffa8e4/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="User Avatar" class="w-8 h-8 rounded-full">
                                            </div>
                                            <div th:class="'flex max-w-96 text-white rounded-lg p-3 gap-3 block-mes bg-' + ${m.color}">
                                                <p class="text-white-700"><span class="message" th:text="${m.message_s}"></span><svg class="inline-block w-4 h-4 text-green-500 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                                </svg></p>
                                                <p class="text-right text-white-500" th:text="${m.created_at}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:unless="${m.message_type}">
                                        
                                    <div class="text-gray-400 text-sm mb-[10px]" th:text="${m.sender_name}"></div>
                                    
                                    <div class="flex mb-4 cursor-pointer">
                                            <div class="w-9 h-9 rounded-full flex items-center justify-center mr-2">
                                            <img src="https://placehold.co/200x/ffa8e4/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="User Avatar" class="w-8 h-8 rounded-full">
                                            </div>
                                            <div th:class="'flex max-w-96 text-white rounded-lg p-3 gap-3 block-mes bg-' + ${m.color}">
                                                <i class="fas fa-file-alt text-yellow-500"></i>
                                                <p class="text-white-700 message" th:text="${m.fileName}"></p>
                                                <i class="fas fa-download text-blue-500 download-icon" th:attr="data-file-name=${m.fileName}, data-file-data=${m.fileData}, data-file-type=${m.fileType}" onclick="downloadFile(this)"></i>
                                                <p class="text-right text-white-500" th:text="${m.created_at}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- Outgoing Message -->
                            <div th:if="${m.sender_id} eq ${session.id}" class="flex justify-end mb-4 cursor-pointer">
                                <div th:if="${m.message_type}" class="flex justify-end mb-4 cursor-pointer">                                    
                                    <div class="flex justify-end mb-4 cursor-pointer">
                                    <div th:class="'flex max-w-96 text-white rounded-lg p-3 gap-3 block-mes bg-' + ${m.color}">
                                        <p class="text-white-700"><span class="message" th:text="${m.message_s}"></span><svg class="inline-block w-4 h-4 text-green-500 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                        </svg></p>
                                        <p class="text-right text-white-500" th:text="${m.created_at}"></p>
                                        <i class="fas fa-ellipsis-v text-white-500 options-icon" onclick="unsend(this)"></i> 
                                    </div>
                                    <div class="w-9 h-9 rounded-full flex items-center justify-center ml-2">
                                    <img src="https://placehold.co/200x/b7a8ff/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="My Avatar" class="w-8 h-8 rounded-full">
                                    </div>
                                </div>
                                </div>
                                <div th:unless="${m.message_type}">
                                    <div class="flex justify-end mb-4 cursor-pointer">
                                        <div th:class="'flex max-w-96 text-white rounded-lg p-3 gap-3 block-mes bg-' + ${m.color}">
                                            <i class="fas fa-file-alt text-yellow-500"></i> <!-- Icon file màu vàng -->
                                            <p class="text-white-700 message" th:text="${m.fileName}"></p>
                                            <i class="fas fa-download text-blue-500 download-icon" th:attr="onclick=|downloadFile('${m.fileName}', '${m.fileType}', '${m.fileData}')|"></i>
                                            <p class="text-right text-white-500" th:text="${m.created_at}"></p>
                                            <i class="fas fa-ellipsis-v text-white-500 options-icon" onclick="unsend(this)"></i>
                                    </div>
                                        <div class="w-9 h-9 rounded-full flex items-center justify-center ml-2">
                                            <img src="https://placehold.co/200x/b7a8ff/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="My Avatar" class="w-8 h-8 rounded-full">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="h-screen overflow-y-auto p-absolute pb-36" id="mainChatArea" th:unless="${#lists.isEmpty(messages)}">
                    <div th:id="${conversationId}" class="invisible"></div>
                        <div class="flex mb-4 cursor-pointer">
                            <div class="flex max-w-96 bg-pink-500 rounded-lg p-3 gap-3">
                            <p class="text-gray-700 text-bold" >Hãy nhắn lời chào đầu tiên !!</p>
                            </div>
                        </div>
                </div>
                <!-- Chat Input -->
                 
            <form id="messageForm" class="bg-white border-t border-gray-300 p-4 fixed bottom-0 w-3/4">
                <div class="flex items-center">
                    <input type="text" id="messageInput" placeholder="Viết tin nhắn..." class="w-full p-2 rounded-md border border-gray-400 focus:outline-none focus:border-blue-500">
                    <label for="fileInput" class="bg-orange-500 text-white text-sm px-4 py-2 rounded-md ">Chọn file</label>
                    <input type="file" id="fileInput" name="fileInput" class="hidden" onchange="updateMessageInput()">
                    <button class="bg-indigo-500 text-white px-4 py-2 rounded-md ml-2" onclick="sendMessage(event)" id="btnSend">Gửi</button>
                </div>
            </form>
            </div>

        <script type="text/javascript" th:src="@{/js/src/ws.js}">
            
        </script>
        </div>
</body>
</html>
